<div id="chart-container">
  <div id="chart">
    <div id="chart-title">
      <span id = "symbol-name"></span>
      <span id = "price-current"></span>
    </div>
  </div>

<!--  <div id="switcher" class="btn-group" role="group" aria-label="Basic radio toggle button group">-->
<!--    <input type="radio" class="btn-check" name="date-scale" id="day" autocomplete="off" checked>-->
<!--    <label class="btn btn-sm btn-outline-dark active date-scale-btn" for="day">Day</label>-->

<!--    <input type="radio" class="btn-check" name="date-scale" id="week" autocomplete="off">-->
<!--    <label class="btn btn-sm btn-outline-dark date-scale-btn" for="week">Week</label>-->

<!--    <input type="radio" class="btn-check" name="date-scale" id="month" autocomplete="off">-->
<!--    <label class="btn btn-sm btn-outline-dark" for="month">Month</label>-->

<!--    <input type="radio" class="btn-check" name="date-scale" id="year" autocomplete="off">-->
<!--    <label class="btn btn-sm btn-outline-dark" for="year">Year</label>-->
<!--  </div>-->

</div>

<div id="quote">
  <table class="table m-3">
<!--    <tr>-->
<!--      <th>Current price:</th>-->
<!--      <td id="price-current"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Open:</th>-->
<!--      <td id="price-open"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>High:</th>-->
<!--      <td id="price-high"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Low:</th>-->
<!--      <td id="price-low"></td>-->
<!--    </tr>-->
    <tr>
      <th>Last Updated:</th>
      <td id="last-updated"></td>
    </tr>
  </table>
</div>

<div id="symbol-select-container">
  <form class="d-flex" action="" id="symbol-select">
      <input type="hidden" name="symbol" value="BINANCE:DASHUSDT">
      <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Appie</button>
  </form>
    <form class="d-flex" action="" id="symbol-select1">
        <input type="hidden" name="symbol" value="BINANCE:ZECUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Teslo</button>
    </form>
    <form class="d-flex" action="" id="symbol-select2">
        <input type="hidden" name="symbol" value="BINANCE:ETHUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">MicroNoft</button>
    </form>
    <form class="d-flex" action="" id="symbol-select3">
        <input type="hidden" name="symbol" value="BINANCE:YFIIUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Cesco</button>
    </form>
    <form class="d-flex" action="" id="symbol-select4">
        <input type="hidden" name="symbol" value="BINANCE:MKRUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Starbocks</button>
    </form>
    <form class="d-flex" action="" id="symbol-select5">
        <input type="hidden" name="symbol" value="BINANCE:BNBUPUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Imtel</button>
    </form>
    <form class="d-flex" action="" id="symbol-select6">
        <input type="hidden" name="symbol" value="BINANCE:BCHUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Paypol</button>
    </form>
    <form class="d-flex" action="" id="symbol-select7">
        <input type="hidden" name="symbol" value="BINANCE:BNBUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">NVIDIO</button>
    </form>
    <form class="d-flex" action="" id="symbol-select8">
        <input type="hidden" name="symbol" value="BINANCE:COMPUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Netfulix</button>
    </form>
    <form class="d-flex" action="" id="symbol-select9">
        <input type="hidden" name="symbol" value="BINANCE:KSMUSDT">
        <button class="btn btn-sm btn-info" type="submit" id="symbol-submit">Gogle</button>
    </form>


</div>
