<table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Derth</td>
                        <td>$100000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Patricia</td>
                        <td>$9237</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Yongsung</td>
                        <td>$525</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Kelton</td>
                        <td>-$420</td>
                    </tr>
                </tbody>
            </table>
