<div class="mx-auto mt-4 mx-4 p-4 
    border border-secondary rounded" style="width: 300px">
    <h2 class="text-center">Paper Trail</h1>
    <p class="text-center">Welcome to the home page</p>
    <p class="text-center">You have successfully signed in!</p>
</div>