<!-- Log-in Form -->
<div class="mx-auto mt-4 mx-4 p-4 
    border border-secondary rounded" style="width: 300px">
    <form>
        <h2 class="text-center">Paper Trail</h2>    
            <div class="form-group">
                <input type="text" class="form-control" 
                placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" 
                placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" formaction="/home"
                class="btn btn-primary btn-block">
                    Log in
                </button>
            </div>
            <div class="form-group">
                <button type="submit" formaction="/signup"
                        class="btn btn-secondary btn-block">
                    sign up
                </button>
            </div>
        </div>
    </form> 
</div>