
#graphContainer {
    border: 3px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    min-height: 500px;
    background-color: lightgreen;
}

#leaderboardContainer {
    border: 3px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    min-height: 500px;
    margin-left: 15px;
    background-color: lightblue;
}

#stocksContainer {
    border: 3px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    min-height: 150px;
    margin-top: 15px;
    background-color: lightcoral;
}

#buyButton {
    position: absolute;
    bottom: 10px;
    left: 60%;
}

#sellButton {
    position: absolute;
    bottom: 10px;
    left: 35%;
}

.stock-row {
    margin-bottom: 10px;
    margin-top: 5px;
}

.stock-item {
    border: 3px;
    border-color: black;
    border-style: solid;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    border-radius: 5px;
    background-color: aliceblue;
}


footer {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 82px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
footer .content {
    padding: 32px 50px;
    display: flex;
    justify-content: space-between;
}
footer span {
    font-family: NanumGothic;
    font-size: 15px;
    text-align: left;
    color: #696969;
}
footer a {
    font-weight: bold;
    text-decoration: underline;
}